body {
    font-family: Montserrat, sans-serif
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

hr.light {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

hr.new {
    border: 0;
    border-top: 2px solid #262626;
    margin: 20px 0;
}